.centro{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: auto;
}

.generar{
  margin: 10px;
}
.intentar{
  width:20%;
}


