.centro{
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  height: auto;
}
.col-1 , .col-2{
  display: flex;
  flex-direction: column;
  width: 50%;
}

.peli{
  padding: 30px;
}

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin: 5px;
}

.intentar{
  height: 30px;
  width: 400px;
  margin: 30px;
}

.imagen{
  width: 300px;
}
