<div>
  <table class="table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>EDAD</th>
          <th>CANTIDAD</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let persona of clientes; let i = index">
          <td class="datos">{{persona.id}}</td>
          <td class="datos">{{persona.nombre}}</td>
          <td class="datos">{{persona.apellido}}</td>
          <td class="datos">{{persona.edad}}</td>
          <td class="datos">{{persona.cantidad}}</td>
          <td><button (click) ="sacarDatos(persona, i)">Detalles</button></td>
        </tr>
      </tbody>
  </table>
</div>
<app-detalles [persona]="persona" [posicion]="posicion" (editar)="modifCliente($event)"></app-detalles>
