<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/juegodados">Juego de dados</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/adivina-numero">Adivina numero</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/contador">Contador</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [ngStyle]="{'cursor' : 'pointer'}" (click)="onLoadAdmin()">Admin</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" [ngStyle]="{'cursor' : 'pointer'}" (click)="verComponentImg()">Imagenes</a>
        </li>

        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Juegos con imagenes</a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" [ngStyle]="{'cursor' : 'pointer'}" (click)="diferencias()">Diferencias</a>
            </li>
            <li>
              <a class="dropdown-item" [ngStyle]="{'cursor' : 'pointer'}" (click)="peliculas()">Peliculas</a>
            </li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
